@page "/"
@using hackerbooking.Shared;
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavManager

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<label>Email: </label>
<br />
<input type="email" @bind-value="Email" />
<br />
<br />
<label>Password: </label>
<br />
<input type="password" @bind-value="Password" />
<br />
<br />
<button class="btn btn-sm btn-primary" @onclick="@(()=>FrivilligLogin())">Login</button>

<!--Tjekker om der er en bruger som er logget ind allerede og redirecter til /Vagter hvis der er-->
@if (id != 0)
{
    NavManager.NavigateTo("/Vagter");

}

@code {
    private FrivilligeDTO[] frivillige;

    private string? Email;
    private string? Password;

    private int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Henter id fra browseren
        id = await localStorage.GetItemAsync<int>("id");
    }

    private async Task FrivilligLogin()
    {
        // Henter frivillige hvor Email og Password macther
        frivillige = await Http.GetFromJsonAsync<FrivilligeDTO[]>($"api/Login/Email{Email}Password{Password}");

        id = frivillige[0].frivillig_id;

        // Gemmer id fra frivillig til browseren
        await localStorage.SetItemAsync("id", frivillige[0].frivillig_id);

        // Redirecter til /Vagter
        NavManager.NavigateTo("/Vagter");
    }
}
