@page "/Vagter/Mine"
@using hackerbooking.Shared;
@inject HttpClient Http

<PageTitle>Vagter</PageTitle>

<h1>Liste Over Dine Vagter</h1>

@if (mineVagter == null)
{
    <p><em>Du har ingen vagter</em></p>
    <p><a href="/Vagter">Vagt Oversigt</a></p>
}


else
{
    // Do Stuff
}

@code {
    private string mineVagter;
}
