@page "/OpretFrivillig"
@inject HttpClient Http

<PageTitle>Opret Frivillig</PageTitle>

<h1>Opret En Frivillig</h1>

<label for="fname">Navn:</label>
<br />
<input id="fname" name="fname">
<br />
<br />
<label for="lname">Efternavn:</label>
<br />
<input id="lname" name="lname">
<br />
<br />
<label for="fdag">Fødselsdag:</label>
<br />
<input type="date" id="fdag" name="fdag">
<br />
<br />
<label for="Email">Email:</label>
<br />
<input id="Email" name="Email">
<br />
<br />
<label for="telefon">Telefon Nummer:</label>
<br />
<input id="telefon" name="telefon">
<br />
<br />
<label for="kompetencer">Kompetencer:</label>
<br />
<input id="kompetencer" name="kompetencer">
<br />
<br />
<label>Password:</label>
<br />
<input type="password" id="pword" />
<br />
<br />
<label>Bekræft Password:</label>
<br />
<input type="password" id="pword" />

@code {

}