@page "/Vagter"
@using hackerbooking.Shared;
@inject HttpClient Http

<PageTitle>Vagter</PageTitle>

<h1>Liste Over Vagter</h1>

@if (vagter == null)
{
    <p><em>Loading...</em></p>
}


else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Opgave</th>
                <th>Start</th>
                <th>Slut</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in vagter)
            {
                <tr>
                    <td>@item.opgave</td>
                    <td>@item.start</td>
                    <td>@item.slut</td>
                    <td>
                        <button class="btn btn-sm btn-primary">Tag Vagt</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private TestDTO[] vagter;

    private TestDTO vagt = new();

    protected override async Task OnInitializedAsync()
    {
        vagter = await Http.GetFromJsonAsync<TestDTO[]>("api/Vagt");
    }
}
